<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>行为日志</title>
    <link rel="stylesheet" href="/libs/component/pear/css/pear.css" />
</head>
<body class="pear-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">员工查询</label>
                        <div class="layui-input-inline">
                            <input type="text" name="UserName" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <button type="submit" id="btn" class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="organization-query">
                            <i class="layui-icon layui-icon-search"></i>
                            查询
                        </button>
                        <button type="reset" class="pear-btn pear-btn-md">
                            <i class="layui-icon layui-icon-refresh"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
            <div class="layui-tab layui-tab-card">
                <ul class="layui-tab-title">
                    <li class="layui-this">审批记录</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <table style="margin-top: 10px;" id="log-login-table" lay-filter="user-table"></table>
                    </div>
                    <div class="layui-tab-item">
                        <table style="margin-top: 10px;" id="log-operate-table" lay-filter="user-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/html" id="log-bar">
    {{#if (d.success == true) { }}
    <button class="pear-btn pear-btn-sm pear-btn-success" lay-event="edit">
        <i class="layui-icon layui-icon-ok"></i>
        成功
    </button>
    {{# }else if(d.success == false){ }}
    <button class="pear-btn pear-btn-sm pear-btn-danger" lay-event="error">
        <i class="layui-icon layui-icon-help"></i>
        异常
    </button>
    {{# } }}
</script>

<script type="text/html" id="log-createTime">
    {{layui.util.toDateString(d.createTime,  "yyyy-MM-dd HH:mm:ss")}}
</script>

<script src="/libs/component/layui/layui.js"></script>
<script src="/libs/component/pear/pear.js"></script>
<script>
    layui.use(['table', 'form', 'jquery', 'element'], function () {
        let table = layui.table;
        let form = layui.form;
        let element = layui.element;

        let MODULE_PATH = "/system/logging/";

        let cols = [
            [
                { title: '申请人', field: 'ApplicantUserid', align: 'center' },
                { title: '评审人', field: 'Userid', align: 'center' },
                { title: '申请时间', field: 'Approvaltime', align: 'center' },
                { title: '申请内容', field: 'Approvalcontent', align: 'center' },
                { title: '申请状态', field: 'Approvalstatus', align: 'center' },
            ]
        ]

        //table.render({
        //    elem: '#log-operate-table',
        //    url: '/api/ApprovalStatusData/ApprovalStatusInfo',
        //    page: true,
        //    cols: cols,
        //    skin: 'line',
        //    toolbar: false
        //});

        table.render({
            elem: '#log-login-table',
            url: '/api/ApprovalStatusData/ApprovalStatusInfo',
            page: true,
            cols: cols,
            skin: 'line',
            toolbar: false
        });

        form.on('submit(dict-type-query)', function (data) {
            table.reload('log-login-table', { where: data.field })
            return false;
        });

        form.on('submit(organization-query)', function (data) {
            table.reload('log-login-table', {
                where: data.field
            })
            return false;
        });

        window.error = function (obj) {
            layer.open({
                type: 1,
                title: '异常信息',
                shade: 0,
                area: ['450px', '350px'],
                content: '<div class="pear-container"><div class="layui-card"><div class="layui-card-body">' + obj.data['error'] + '</div></div></div>'
            });
        }
    })
</script>
</html>