
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>考勤管理</title>
    <link rel="stylesheet" href="/libs/component/pear/css/pear.css" />
</head>
<body class="pear-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-form-item layui-inline">

                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="UserName" placeholder="" class="layui-input">
                        </div>
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-inline">
                            <select name="Desc" lay-verify="" lay-event="sel">
                                <option value="">全部</option>
                                <option value="1">已签到</option>
                                <option value="2">未签到</option>
                                <option value="3">迟到</option>
                                <option value="4">缺勤</option>
                                <option value="5">请假</option>
                            </select>
                        </div>
                        <label class="layui-form-label">日期范围</label>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" id="DateTime" class="layui-input" name="Time" placeholder="日期范围">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item layui-inline">
                        <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
                            <i class="layui-icon layui-icon-search"></i>
                            查询
                        </button>
                        <button type="reset" class="pear-btn pear-btn-md">
                            <i class="layui-icon layui-icon-refresh"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="user-table" lay-filter="user-table"></table>
        </div>
        <script type="text/html" id="user-toolbar">
            <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
                <i class="layui-icon layui-icon-delete"></i>
                删除
            </button>

        </script>


    </div>
    <script type="text/html" id="user-bar">
        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
        <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
    </script>
    <script type="text/html" id="user-createTime">
        {{layui.util.toDateString(d.SignTime, 'yyyy-MM-dd HH:mm')}}
    </script>

    <script src="/libs/component/layui/layui.js"></script>
    <script src="/libs/component/pear/pear.js"></script>
    <script>
        layui.use(['table', 'form', 'jquery', 'common','laydate'], function () {
            let table = layui.table;
            let form = layui.form;
            let $ = layui.jquery;
            let common = layui.common;
            let laydate = layui.laydate;

            let cols = [
                [{
                    type: 'checkbox'
                },
                {
                    title: '编号',
                    field: 'SignId',
                    align: 'center',
                    width: 100
                },
                {
                    title: '姓名',
                    field: 'UserId',
                    align: 'center'
                },
                {
                    title: '打卡时间',
                    field: 'SignTime',
                    align: 'center',
                    templet: '#user-createTime'
                },
                {
                    title: '情况',
                    field: 'SignDesc',
                    align: 'center'
                },
                {
                    title: '备注',
                    field: 'SignText',
                    align: 'center'
                },
                {
                    title: '职位',
                    field: 'RoleId',
                    align: 'center'
                },
                {
                    title: '操作',
                    toolbar: '#user-bar',
                    align: 'center',
                    width: 130
                }
                ]
            ]

            table.render({
                elem: '#user-table',
                url: '/api/CheckData',
                page: true,
                cols: cols,
                skin: 'line',
                toolbar: '#user-toolbar',
                defaultToolbar: [{
                    title: '刷新',
                    layEvent: 'refresh',
                    icon: 'layui-icon-refresh',
                }, 'filter', 'print', 'exports']
            });

            table.on('tool(user-table)', function (obj) {
                if (obj.event === 'remove') {
                    window.remove(obj);
                } else if (obj.event === 'edit') {
                    window.edit(obj);
                }
            });
            form.on('submit(user-query)', function (data) {
                table.reload('user-table', {
                    where: data.field
                })
                return false;
            });

            window.edit = function (obj) {
                layer.open({
                    type: 2,
                    title: '修改',
                    shade: 0.1,
                    area: ['500px', '700px'],
                    content: '/Check/Edit?SignId=' + obj.data.SignId
                });
            }
            


            window.remove = function (obj) {
                layer.confirm('确定要删除该用户', {
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: "/api/CheckData/Delete",
                        dataType: 'json',
                        type: 'get',
                        data: {
                            SignId: obj.data['SignId']
                        },
                        success: function (result) {
                            layer.close(loading);
                            if (result.success) {
                                layer.msg(result.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function () {
                                    obj.del();
                                });
                            } else {
                                layer.msg(result.msg, {
                                    icon: 2,
                                    time: 1000
                                });
                            }
                        }
                    })
                });
            }
            //日期范围选择
            laydate.render({
                elem: '#DateTime'
                , range: '~'//或 range: '~' 来自定义分割字符
            });

            window.batchRemove = function (obj) {

                var checkIds = common.checkField(obj, 'SignId');

                if (checkIds === "") {
                    layer.msg("未选中数据", {
                        icon: 3,
                        time: 1000
                    });
                    return false;
                }

                layer.confirm('确定要删除这些用户', {
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: MODULE_PATH + "batchRemove/" + ids,
                        dataType: 'json',
                        type: 'delete',
                        success: function (result) {
                            layer.close(loading);
                            if (result.success) {
                                layer.msg(result.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function () {
                                    table.reload('user-table');
                                });
                            } else {
                                layer.msg(result.msg, {
                                    icon: 2,
                                    time: 1000
                                });
                            }
                        }
                    })
                });
            }

            window.refresh = function (param) {
                table.reload('user-table');
            }
        })
    </script>
</body>
</html>


