
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserCheck</title>
</head>
<body>
    <div>
        <h1>上班打卡</h1>
        @ViewBag.Time;
    </div>
</body>
</html>
