
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404-NotFound</title>
    <link href="/libs/component/pear/css/pear.css" rel="stylesheet" />
    <link href="/libs/admin/css/other/error.css" rel="stylesheet" />
</head>
<body>
    <div class="content">
        <img src="/libs/admin/images/404.svg" alt="">
        <div class="content-r">
            <h1>404</h1>
            <p>抱歉，你访问的页面不存在或仍在开发中</p>
            <a class="pear-btn pear-btn-primary">返回首页</a>
        </div>
    </div>
    <script src="/libs/component/layui/layui.js"></script>
    <script src="/libs/component/pear/pear.js"></script>
</body>
</html>
