
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文件列表</title>
    @Html.Partial("_Head")
</head>
<body class="pear-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">文件名:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="realName" placeholder="请输入文件名进行查询" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
                            <i class="layui-icon layui-icon-search"></i>
                            查询
                        </button>
                        <button type="reset" class="pear-btn pear-btn-md">
                            <i class="layui-icon layui-icon-refresh"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body">
            <span class="layui-breadcrumb">
                <a href="">根目录</a>
                <a><cite>文档</cite></a>
            </span>
            <table id="user-table" lay-filter="user-table"></table>
        </div>
    </div>

    <script type="text/html" id="user-toolbar">
        <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>
            新增文件夹
        </button>
    </script>
    <script type="text/html" id="user-bar">
        <button class="pear-btn pear-btn-primary pear-btn-sm" style="display:{{d.FileType==11?"none":""}}" lay-event="down"><i class="layui-icon layui-icon-download-circle"></i></button>
        <button class="pear-btn pear-btn-danger pear-btn-sm" style="display:{{d.FileType==11?"none":""}}" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
        <button class="pear-btn pear-btn-sm" style="display:{{d.FileType==11?"none":""}}" lay-event="fx"><i class="layui-icon layui-icon-release"></i></button>
    </script>
    <script type="text/html" id="user-createTime">
        {{layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss')}}
    </script>
    <script type="text/html" id="icon">
        <img src="{{d.icon}}" style="width:100%" />
    </script>
    @Html.Partial("_Jsp")
<script>
    layui.use(['table', 'form', 'jquery', 'common'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let common = layui.common;
        let cols = [
            [
                { field: 'icon', title: '', templet: '#icon', width: 60 },
                {
                    title: '文件名',
                    field: 'FileName',
                    align: 'left',
                },
                {
                    title: '创建者',
                    field: 'FileOwner',
                    align: 'center'
                },
                {
                    title: '创建时间',
                    field: 'createTime',
                    align: 'center',
                    templet: '#user-createTime'
                },
                {
                    title: '操作',
                    toolbar: '#user-bar',
                    align: 'center',
                    width: 150
                }
            ]
        ]

        table.render({
            elem: '#user-table',
            url: '/api/FileUpData',
            page: false,
            cols: cols,
            skin: 'line',
            toolbar: '#user-toolbar',
            defaultToolbar: [{
                title: '刷新',
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }]
        });

        table.on('tool(user-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'fx') {
                layer.open({
                    type: 2,
                    title: '分享',
                    shade: 0.1,
                    area: [common.isModile() ? '300px' : '330px', common.isModile() ? '100%' : '400px'],
                    content: '/File/Qrjs?url=' + "/api/FileUpData/DownFile?FileID=" + parseInt(obj.data.fileId)
                });
            } else if (obj.event == 'down') {
                window.location.href = '/api/FileUpData/DownFile?FileID=' + parseInt(obj.data.fileId);
            }
        });

        table.on('toolbar(user-table)', function (obj) {
            if (obj.event === 'refresh') {
                window.refresh();
            }
        });
        ////触发行单击事件
        //table.on('row(user-table)', function (obj) {
        //    console.log(obj.data) //得到当前行数据
        //});
        //双击事件
        table.on('rowDouble(user-table)', function (obj) {
            console.log(obj.data) //得到当前行数据
            if (obj.data.FileType == 11) {
                console.log("文件夹")
            } else {
                window.location.href = '/api/FileUpData/DownFile?FileID=' + parseInt(obj.data.fileId);
            }
            window.refresh();
        });
        form.on('submit(user-query)', function (data) {
            table.reload('user-table', {
                where: data.field
            })
            return false;
        });

        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: [common.isModile() ? '100%' : '500px', common.isModile() ? '100%' : '400px'],
                content: MODULE_PATH + 'add.html'
            });
        }

        window.remove = function (obj) {
            layer.confirm('确定要删除文件', {
                icon: 3,
                title: '提示'
            }, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: '/api/FileUpData/DeleteFile?Fielid=' + obj.data.fileId,
                    dataType: 'json',
                    type: 'put',
                    data:{
                        Fielid: obj.data.fileId
                    },
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            layer.msg(result.msg, {
                                icon: 1,
                                time: 1000
                            }, function () {
                                obj.del();
                            });
                        } else {
                            layer.msg(result.msg, {
                                icon: 2,
                                time: 1000
                            });
                        }
                    }
                })
            });
        }
        window.refresh = function (param) {
            table.reload('user-table');
        }
    })
</script>
</body>
</html>
