
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>会议记录管理</title>
    <link rel="stylesheet" href="/libs/component/pear/css/pear.css" />
</head>
<body class="pear-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">预约人</label>
                        <div class="layui-input-inline">
                            <input type="text" name="UserName" placeholder="" class="layui-input">
                        </div>
                        <label class="layui-form-label">房间名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="RoomName" placeholder="" class="layui-input">
                        </div>
                        <label class="layui-form-label">时间</label>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" id="DateTime" class="layui-input" name="Time" placeholder="开始-结束时间">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
                            <i class="layui-icon layui-icon-search"></i>
                            查询
                        </button>
                        <button type="reset" class="pear-btn pear-btn-md">
                            <i class="layui-icon layui-icon-refresh"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="ConTion-table" lay-filter="ConTion-table"></table>
        </div>
    </div>

    <script type="text/html" id="user-toolbar">
        <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
            <i class="layui-icon layui-icon-delete"></i>
            删除
        </button>
    </script>

    <script type="text/html" id="user-bar">
        <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
    </script>
    <script type="text/html" id="StateTime">
        {{layui.util.toDateString(d.StateTime, 'yyyy-MM-dd HH:mm')}}
    </script>
    <script type="text/html" id="EndTime">
        {{layui.util.toDateString(d.EndTime, 'yyyy-MM-dd HH:mm')}}
    </script>
    <script type="text/html" id="CreaTimes">
        {{layui.util.toDateString(d.CreaTime, 'yyyy-MM-dd HH:mm')}}
    </script>
    <script src="/libs/component/layui/layui.js"></script>
    <script src="/libs/component/pear/pear.js"></script>
    <script>
        layui.use(['table', 'form', 'jquery', 'common', 'laydate'], function () {
            let table = layui.table;
            let form = layui.form;
            let $ = layui.jquery;
            let common = layui.common;
            let laydate = layui.laydate;

            let cols = [
                [{
                    type: 'checkbox'
                },
                {
                    title: '会议编号',
                    field: 'ManId',
                    align: 'center',
                    width: 100,
                },
                {
                    title: '会议房间',
                    field: 'ManRoom',
                    align: 'center',
                    width: 100
                },
                {
                    title: '会议标题',
                    field: 'ManTitle',
                    align: 'center',
                },
                {
                    title: '会议内容',
                    field: 'ManComm',
                    align: 'center'
                },

                {
                    title: '开始时间',
                    field: 'StateTime',
                    align: 'center',
                    templet: '#StateTime',
                },
                {
                    title: '结束时间',
                    field: 'EndTime',
                    align: 'center',
                    templet: '#EndTime',
                },
                {
                    title: '预约人',
                    field: 'UserId',
                    align: 'center',
                },
                {
                    title: '创建时间',
                    field: 'CreaTime',
                    align: 'center',
                    templet: '#CreaTimes',
                },
                {
                    title: '操作',
                    toolbar: '#user-bar',
                    align: 'center',
                }
                ]
            ]

            table.render({
                elem: '#ConTion-table',
                url: '/api/ConReData/ConTiList',
                page: true,
                cols: cols,
                skin: 'line',
                toolbar: '#user-toolbar',
                defaultToolbar: [{
                    title: '刷新',
                    layEvent: 'refresh',
                    icon: 'layui-icon-refresh',
                }, 'filter', 'print', 'exports']
            });

            table.on('tool(ConTion-table)', function (obj) {
                if (obj.event === 'remove') {
                    window.remove(obj);
                } else if (obj.event === 'edit') {
                    window.edit(obj);
                }
            });

            table.on('toolbar(ConTion-table)', function (obj) {
                if (obj.event === 'add') {
                    window.add();
                } else if (obj.event === 'refresh') {
                    window.refresh();
                } else if (obj.event === 'batchremove') {
                    window.batchremove(obj);
                }
            });

            form.on('submit(user-query)', function (data) {
                table.reload('ConTion-table', {
                    where: data.field
                })
                return false;
            });

            window.remove = function (obj) {
                layer.confirm('确定要删除该会议', {
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: "/api/ConReData/ManDelete",
                        dataType: 'json',
                        type: 'get',
                        data: {
                            ManId: obj.data['ManId']
                        },
                        success: function (result) {
                            layer.close(loading);
                            if (result.success) {
                                layer.msg(result.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function () {
                                    obj.del();
                                });
                            } else {
                                layer.msg(result.msg, {
                                    icon: 2,
                                    time: 1000
                                });
                            }
                        }
                    })
                });
            }

            window.batchRemove = function (obj) {

                var checkIds = common.checkField(obj, 'RoomName');

                if (checkIds === "") {
                    layer.msg("未选中数据", {
                        icon: 3,
                        time: 1000
                    });
                    return false;
                }

                layer.confirm('确定要删除这些用户', {
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: MODULE_PATH + "batchRemove/" + ids,
                        dataType: 'json',
                        type: 'delete',
                        success: function (result) {
                            layer.close(loading);
                            if (result.success) {
                                layer.msg(result.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function () {
                                    table.reload('ConTion-table');
                                });
                            } else {
                                layer.msg(result.msg, {
                                    icon: 2,
                                    time: 1000
                                });
                            }
                        }
                    })
                });
            }
            laydate.render({
                elem: '#DateTime'
                , range: '~'//或 range: '~' 来自定义分割字符,
                , type: 'datetime'
            });
            window.refresh = function (param) {
                table.reload('ConTion-table');
            }
        })
    </script>
</body>
</html>



